---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Global variables
$default_font_family: 'Alegreya', serif;

// Colors
$color_white: #ffffff;
$color_black: #000000;
$color_gray64: #a3a3a3;
$color_grey_dark: #777777;

// Sizes
$h1_size: 28px;
$h3_size: 24px;
$h4_size: 16px;
$p_size: 22px;
$p_size_quote: 32px;
$p_size_footer: 18px;
$a_26: 26px;
$author_size: 11px;

@import url("@import url(https://fonts.googleapis.com/css?family=Alegreya:400,700,400italic,700italic");
@import url("https://fonts.googleapis.com/css?family=Lato:300");
// Import partials from `sass_dir` (defaults to `_sass`)
@import
		"base",
		"profile-photo",
		"profile-about",
		"profile-quote"
;